@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
	--blue: #0f7a9e;
	--blue-two: #3298a7;
	--light-blue: #66ffff;
	--dark-blue: #38426f;
	--dark-blue-two: #004879;
	--red: #f34937;
	--light-red: #f2703c;
	--yellow: #38426f;
	--grey-lighter: #e2e8f0;
	--grey-light: #6e7070;
	--dark-grey: #5c5e5e;
	--white: #f9faf8;
	/* 
	--gap-main: 1.5rem;
    --padding-h3: 5px; */
}


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', Courier, monospace;
	font-weight: 300;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--blue-two);
	gap: 2rem;
}

.container {
	width: 70vw;
	height: 80vh;
	background-color: var(--blue);
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 10px;
    /* background-color: var(--grey-lighter); */
}


.field {
	width: 10rem;
	height: 10rem;
	background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--dark-blue-two);
}

.field:hover {
	background-color: var(--light-blue);
	cursor: pointer;
}


.buttons {
	width: 70vw;
	height: 10vh;
	background-color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons > * {
	margin: 1rem;
	padding: 1rem;
	text-transform: uppercase;
	border-radius: 0;
}

.buttons > *:hover {
	background-color: var(--light-blue);
	cursor: pointer;
}


.win {
	background-color: var(--light-blue);
	/* color: var(--red); */
	font-weight: bold;
	border: 3px solid var(--red);
}

.tie {
	background-color: var(--red);
	font-weight: bold;
	color: var(--white);
	border: 3px solid var(--light-blue);


}
